#header	
{
	color: #000000;
	text-align: center;
	margin: 0;
    line-height:2;
	background-color: #ffffff;
}	

body 
{ 
	background-color:#F5F5F5;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}		

h1
{
	text-transform: normal;
	color: #000000;
}
h2	
{	
	border-bottom: 1px solid #000000;
	color: #1E90FF;
	font-size: 1.2em;
	margin-right: 20px;
	text-align: center;
	clear: left;
}

ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: #ADFF2F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #FF8C00;

}
table
{
	width: 100%;
	margin: auto;
	broder: 2px solid black;
}
td, th 
{ 
	padding:20px;
}
    
.altrow 
{ 
	background-color:#F0FFF0;
}

.floatright
{ 
	padding-left: 20px;
	float: right;
}
    
#content
{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 10px;
	background-color: #ffffff;
	color: #000000;
}


.floatright
{ 
	padding-left: 20px;
	float: right;
}

.floatleft
{
	float: left;
	padding-right: 20px;
	padding-bottom: 20px;
}

.clearleft
{
	clear: left;
}
    
.details
{
	padding-left: 20%;
	padding-right: 20%;
}

img 
{
	border: 0;
}
#footer 
{ 
	background-color: #32CD32;
	color: #000000;
	font-size: .90em;
	font-style: italic;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	clear: both;
	
}
#footer a:link
{
	color: #FFFF00;
	
}

#footer a:visted
{
	color: #87CEFA;
}

#footer  a:hover
{
	color: #330000;
}
#wrapper
{
	background-color: #B0E0E6;
	min-width: 1200px;
    min-height: 1200x;
	box-shadow: 20px 20px 20px #00ffff;
	margin-left: auto;
	margin-right:auto;
	width:90%;
}


